<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div>
    <a href="add">Add product</a>
</div>
<div>
    <table>
        <thead>
        <tr>
            <th scope="col">Student No</th>
            <th scope="col">Name</th>
            <th scope="col">Department</th>
            <th scope="col">City</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="p : ${all_student_regs}">
            <td scope="row">[[${p.studentId}}]]</td>
            <td scope="row">[[${p.name}}]]</td>
            <td scope="row">[[${p.department}}]]</td>
            <td scope="row">[[${p.country}}]]</td>
            <th>
                <a>Edit</a>
                <a>Delete</a>
            </th>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>